{% extends "base.html" %}
{% block title %}LDAPパスワード変更(管理者用){% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-offset-5 col-md-3 well">
        {% if err %}
        <div class="alert alert-danger" role="alert">
            {{err}}
        </div>
        {% endif %}
        {% if success %}
        <div class="alert alert-success">
            {{ success }}
        </div>
        {% endif %}
        <form method="POST" action="" id="changePassword" data-toggle="validator">
        <legend>LDAP パスワード変更(管理者)</legend>
        <fieldset>
            <div class="form-group">
                <label for="inputAdminpassword" class="control-label">管理者パスワード</label>
                <input type="password" name="adminpassword" class="form-control" id="inputAdminpassword" placeholder="管理者パスワード" required/>
            </div>
            <div class="form-group">
                <label for="selectDn" class="control-label">ユーザ名</label>
                <select name="dn" class="form-control" id="selectDn">
                    {% for u in result_list %}
                    <option value="{{ u[0] }}">{{ u[1].uid[0] }}({{ u[1].mail[0] }})</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="inputNewpassword1" class="control-label">新パスワード(6文字以上)</label>
                <input type="password" name="newpassword1" class="form-control" id="inputNewpassword1" placeholder="新パスワード" data-minlength="6" required/>
            </div>
            <div class="form-group">
                <label for="inputNewpassword2" class="control-label">確認</label>
                <input type="password" name="newpassword2" class="form-control" id="inputNewpassword2" placeholder="確認" data-match="#inputNewpassword1" data-match-error="パスワードが一致しません" required/>
            </div>
             <button type="submit" class="btn btn-primary btn-block">変更</button>
        </form>
    </div>
</div>
<script>
jQuery(function($) {
    H5F.setup($('form[data-toggle="validator"]'));
});
</script>
{% endblock %}
