<html>
<head><title>LDAPパスワード変更</title></head>
<body>
	<h1>LDAPパスワード変更</h1>
	<form method="POST" action="">
		<table>
			<tr><td>ユーザ名</td><td><input type="text" name="username" /></td></tr>
			<tr><td>旧パスワード:</td><td><input type="password" name="oldpassword" /></td></tr>
			<tr><td>新パスワード:</td><td><input type="password" name="newpassword1" /></td></tr>
			<tr><td>確認:</td><td><input type="password" name="newpassword2" /></td></tr>
			<tr><td><input type="submit" /></td><td><br /></td></tr>
		</table>
	</form>
</body>
</html>
